.user-page {
    background-color: #1c1c1e;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
    .profile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      background-color: #0f0f0f;
      padding: 10px 20px;
      border-radius: 8px;
      margin-bottom: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      
      .logo img {
        height: 40px;
      }
      
      .categories {
        display: flex;
        gap: 20px;
        flex-direction: row; // S'assurer que les éléments sont alignés horizontalement
      
        span {
          cursor: pointer;
          color: #ffffff;
          font-weight: 500;
          transition: color 0.3s;
      
          &:hover {
            color: #d4a055;
          }
        }
      }
  
      .logout-btn {
        background-color: #ff4d4f;
        color: #ffffff;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #d9363e;
        }
      }
    }
  
    .profile-content {
      width: 100%;
      max-width: 1200px;
      background-color: #2c2c2e;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  
      h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 1rem;
        color: #bbbbbb;
      }
  
      .data-section {
        background-color: #1c1c1e;
        padding: 15px;
        margin-top: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
        h2 {
          font-size: 1.5rem;
          margin-bottom: 10px;
          color: #d4a055;
        }
  
        p {
          font-size: 1rem;
          color: #ffffff;
          margin: 5px 0;
        }
      }
    }
  }
  